{
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": false
    },
    "experimental": {
      "plugins": [
        [
          "module-resolver",
          {}
        ]
      ]
    },
    "target": "es5"
  }
}